# Files go here #
*.class
*.project
*.bpmn2d

# Package Files #
*.jar
*.war
*.ear
*.bar

# Folders go here #
*.classpath
*.settings
*.target
*.metadata

target
*.prefs
*.prefs
bin
